<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills & Technologies</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-4">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Frontend</h4>
                    <ul class="text-muted skill-li">
                      <li>Javascript</li>
                      <li>Firebase</li>
                      <li>Node.js</li>
                      <li>Grunt</li>
                      <li>JSON</li>
                      <li>AJAX</li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <ul class="text-muted skill-li">
                      <li>AngularJS</li>
                      <li>jQuery</li>
                      <li>HTML5 & CSS3</li>
                      <li>Bootstrap</li>
                      <li>SASS</li>
                      <li>Adobe Illustrator</li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Backend</h4>
                    <ul class="text-muted skill-li">
                      <li>Ruby</li>
                      <li>Ruby on Rails</li>
                      <li>SQLite</li>
                      <li>Postgres</li>
                      <li>Heroku</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
